.container {
  width: 1090px;
  /* border: 1px solid red; */
  margin-top: 40px;
}
.SearchForm {
  width: 450px;
}
.customAutoComplete {
  width: 250px;
  margin-top: 30px;
  border: 1px solid #000;
  border-radius: 4px;
  margin-bottom: 150px;
}
